.img-fluide
{
  display: bloxk;
  max-width: 100%;
  height: auto;
}
.mat-card-title{
color:blue;
text-align: center;
}
.parent {
  overflow: hidden;
}

.md-card-image {
  width: 300px;
  height: 150px;
}
