<div class=container>
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">HighTech Sop</h1>
      <!-- <div class="list-group">
        <a routerLink="#" class="list-group-item">Catedorie 1</a>
        <a routerLink="#" class="list-group-item">Catedorie 2</a>
        <a routerLink="#" class="list-group-item">Catedorie 3</a>
        <a routerLink="#" class="list-group-item">Catedorie 4</a>
      </div> -->
    </div>
    <div class="col-lg-9">
     <div id="carouselIndi" class="carousel slide my-4" data-ride="carousel">
       <ol class="carousel-indicators">
         <li data-target="#" data-slide-to="0" class="active"></li>
         <li data-target="#" data-slide-to="0" class="active"></li>
         <li data-target="#" data-slide-to="0" class="active"></li>
       </ol>
         <div class="carousel-inner" role="listbox">
           <div class="carousel-item active">
           <img class="d-block " alt="logo1" src="../../../../assets/images/logo/logo2.jpg"/>
          </div>
          <div class="carousel-item active">
            <img class="d-block " alt="lgo2" src="../../../../assets/images/logo/logo1.jpg"/>
           </div>
           <div class="carousel-item active">
            <img class="d-block " alt="logo3" src="../../../../assets/images/logo/logo2.jpg"/>
           </div>
         </div>
  <a class="carousel-control-prev" routerLink="#" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" routerLink="#" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
    </div>
     <div class="row">
   <div class="col-lg-4 col-md-4 mb-2" *ngFor="let article of articles" >
     <div class="card h-100">
       <a routerLink="#"><img class="d-block img-fluide" src={{article.photo}}/></a>
      <div class="card-body">
        <h4 class="card-title">{{article.libelle}}<a routerLink="#"></a></h4>
        <h5>{{article.prix }}</h5>
        <p class="card-test">{{article.description}} </p>
      </div>
      <div class="card-footer">
   <small class="text-muted">&#9733;&#9733;&#9733;&#9733;&#9734;</small>
      </div>
     </div>
   </div>
     </div>
     </div>
    </div>


