   <div class="wrapper">

     <nav class=" navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <!-- navanavbar navbar-dark bg-primary -->
         <div class="container">
          <button mat-fab color="primary" class="navbar-brand">HighTech Sop</button>
<a routerLink="employees" class="nav-link" routerLinkActive="active"><mat-icon class="mat-18" >home</mat-icon>Home</a>
    <div class="btn-group">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ordinateurs
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/articles"  routerLinkActive="clickEventHandler()">PC Portable</a>
        <a class="dropdown-item" routerLink="/articles"  routerLinkActive="clickEventHandler()">PC Burreau</a>
        <a class="dropdown-item" routerLink="/articles"  routerLinkActive="clickEventHandler()">Accessoires</a>
      </div>
    </div>
    <div class="btn-group">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Telephones
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/articles" >Smart Phone</a>
        <a class="dropdown-item" routerLink="/articles"  >Telephone Fix</a>
        <a class="dropdown-item" routerLink="/articles"  >Accesoires</a>
      </div>
    </div>
    <div class="btn-group">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Stockage
      </a>
      <div class="dropdown-menu">
        <a routerLink=""class="dropdown-item" routerLink="#">Disque Dur</a>
        <a  class="dropdown-item" routerLink="/articles" >Clé USB</a>
        <a class="dropdown-item" routerLink="/articles" >Accessoires</a>
      </div>
    </div>

    <a routerLink="/signin"  routerLinkActive="active" class=" nav-link " routerLinkActive="active"><mat-icon>account_circle</mat-icon><br/>Connexion</a>
    <a routerLink="/articles" routerLinkActive="active"><span [matBadge]="panier" matBadgeColor="accent" matBadgeSize="small" matBadgeOverLap="false">
      <mat-icon>shopping_cart</mat-icon></span></a>
  </div></nav>

  </div>


<router-outlet></router-outlet>




