<!-- <mat-grid-list cols="1" >
  <form #f="ngForm" (ngSubmit)="f.form.valid && connexion()"  >
    <div class="row">
    <div class=" col-offset-2 col-lg-4 form-group">
    <label for="floatingInputInvalid" >Email</label>
    <input type="email " id="floatingInputInvalid" required [(ngModel)]="admi.email" #email="ngModel" [ngModelOptions]="{standalone: true}"/>
    <div *ngIf="f.submitted && email.invalid " >Erreur sur Email</div>
    </div>
    <div class="  col-lg-2 col-lg-4 form-group">
    <label >Password</label>
    <input  required [(ngModel)]="admi.password" class="visually-hidden" #password="ngModel" [ngModelOptions]="{standalone: true}"
    ngClass="{'is-invalid': f.submitted && password.invalid}" required />
    <div *ngIf="f.submitted &&password.errors">mot de passe invalide</div>
  </div>

  </div>
  <div class="col-auto">
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary mb-3">se Connecter</button>
  </div>
  </form>
</mat-grid-list> -->
<div class=container>
  <div class="row">
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step >
    <form >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name"  required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step-header>
    <form>
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput  placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step-header>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
</div>
</div>
<!-- <table>
  <thead>
    <tr><th>Email</th><th>Password</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of admins" >
      <td>{{admin.nom}}</td>
      <td>{{admin.prenom}}</td>
      <td>{{admin.email}}</td>
      <td>{{admin.password}}</td>
      <td>{{admin.adress}}</td>
    </tr>
  </tbody>
</table> -->


